<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
    <% include ./layouts/imports %>

        <body>
            <% include ./layouts/menuLateral %>
                <!--Main Content Start -->
                <section class="content">
                    <!-- Page Content Start -->
                    <!-- ================== -->
                    <% include ./layouts/topNav %>
                        <div class="wraper container-fluid">
                            <div class="page-title">
                                <h3 class="title">Adopta</h3>
                                <span id="actu"></span>
                            </div>
                            <!-- ¡Aqui ponemos el contenido de la pagina! -->
                                     <!-- Row start -->
                                    <div id="main" class="row">
                                        <% mascotas.forEach(function(mascota){ %>
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"><%- mascota.nombre %></h3>
                                                </div>
                                                <div class="btn btn-primary" onclick="getLocation()">Conocer tu ubicación</div>
                                                <div class="panel-body">
                                                        <script>
                                                                var x = document.getElementById("demo");
                                                                
                                                                function getLocation() {
                                                                    if (navigator.geolocation) {
                                                                        navigator.geolocation.getCurrentPosition(showPosition);
                                                                    } else { 
                                                                        x.innerHTML = "Geolocation is not supported by this browser.";
                                                                    }
                                                                }
                                                                
                                                                function showPosition(position) {
                                                                    x.innerHTML = "Latitude: " + position.coords.latitude + 
                                                                    "<br>Longitude: " + position.coords.longitude;
                                                                }
                                                                </script>

                                                    <img src="<%- mascota.url %>" alt="" width="400" height="400" srcset="" style="border-radius: 10px;">
                                                    <p>Información: <%- mascota.info %></p>
                                                    <p>Edad: <%- mascota.edad %></p>
                                                    <p>Fecha del post: <%- mascota.date %></p>

                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div><!-- End of Row -->

                        </div>
                        <!-- End row -->

                        </div>
                        <!-- Page Content Ends -->
                        <!-- ================== -->

                        <!-- Footer Start -->
                        <footer class="footer">
                            2015 © Velonic.
                        </footer>
                        <!-- Footer Ends -->



                </section>
                <!-- Main Content Ends -->
                <% include ./layouts/scripts %>
        </body>

</html>