<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
    <% include ./layouts/imports %>
        <body>
            
            <% include ./layouts/menuLateral %>
                <!--Main Content Start -->
                <section class="content">
                    <!-- Page Content Start -->
                    <!-- ================== -->
                    <% if(typeof(user) != 'undefined'){%>
                        <% var usuario = user %>
                            <%}%>
                                <% include ./layouts/topNav %>
                                    <div class="wraper container-fluid">
                                        <div class="page-title">
                                            <h3 class="title">Adoptapp</h3>
                                            <div id="actu"></div>

                                        </div>
                                        <!-- ¡Aqui ponemos el contenido de la pagina! -->
                                        <!-- Row start -->
                                        
                                        <div id="main" class="row">
                                            <% console.log("mascotas son ander ag: "+mascotas[0]) %>
                                            
                                            <% mascotas.forEach(function(mascota){ %>
                                                <%console.log("cliente cliente") %>
                                                <% console.log(mascotas) %>
                                                <div class="post col-md-6">
                                                    <div class="post-child post-left" style="text-align:left">
                                                        <img src="<%- mascota.url %>" title="This is a placeholder image">
                                                    </div>
                                                    <div class="post-child post-right">
                                                        <h1>
                                                            <%- mascota.nombre %>
                                                        </h1>
                                                        <hr>
                                                        <!-- <div class="datos">
                                                            <span class=""> Información</span>
                                                            <span class="data">
                                                                <%- mascota.info %>
                                                            </span>
                                                        </div> -->
                                                        <div>Edad:
                                                            <%- mascota.edad %>
                                                        </div>
                                                        <div>Tamaño del perro:
                                                            Grande
                                                        </div>
                                                        <div id="fecha">Fecha del post:
                                                          <span><%- mascota.date%></span>
                                                        </div>
                                                        <!-- <div>ID persona:
                                                            <%- mascota.idUser %>
                                                        </div> -->
                                                        <a class="btn-circle">&#x21e2;</a>
                                                    </div>
                                                </div>
                                                <% }); %> 
                                        </div>
                                        <!-- End of Row -->

                                    </div>
                                    <!-- End row -->

                                    </div>
                                    <!-- Page Content Ends -->
                                    <!-- ================== -->
                                    </div>
                                    <!-- Footer Start -->
                                    <footer class="footer">
                                        2015 © Velonic.
                                    </footer>
                                    <!-- Footer Ends -->



                </section>
                <!-- Main Content Ends -->
                <% include ./layouts/scripts %>
        </body>
        <script>
            var alfonso = [];
            function ordenar(){
                /*
                Number.prototype.toRad = function() {
                    return this * Math.PI / 180;
                }
                */
                function toRad(numb){
                    numb=numb * Math.PI /180;
                    return numb;
                }
                
                
                var distancias=[];
                //var origen = {"lat":51.903614,"lon":-8.468399};
                var origenLat=sessionStorage.getItem("latitud");
                var origenLatRad = toRad(origenLat);
                var origenLon=sessionStorage.getItem("longitud");
                var mascotas = sessionStorage.getItem("mascotas");
                mascotas=JSON.parse(mascotas);
                //console.log("mascotas: "+mascotas);
                for(i=0;i<mascotas.length;i++){
                    
                    var destinoLat=mascotas[i].lat;
                    var destinoLatRad=toRad(destinoLat);
                    var destinoLon=mascotas[i].long;
                    
                    var R = 6371; // km 
                    
                    var distanciaLat = destinoLat-origenLat;
                    var distanciaLat = toRad(distanciaLat);;  
                    var distanciaLon = destinoLon-origenLon;
                    var distanciaLon = toRad(distanciaLon);  
                    var a = Math.sin(distanciaLat/2) * Math.sin(distanciaLat/2) + 
                                    Math.cos(origenLatRad) * Math.cos(destinoLatRad) * 
                                    Math.sin(distanciaLon/2) * Math.sin(distanciaLon/2);  
                    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
                    var distanciaKm = R * c;
                            
                    var mascota = {
                        "date":mascotas[i].date,
                        "edad":mascotas[i].edad,
                        "idUser":mascotas[i].idUser,
                        "info":mascotas[i].info,
                        "lat":mascotas[i].lat,
                        "long":mascotas[i].long,
                        "nombre":mascotas[i].nombre,
                        "url":mascotas[i].url,
                        "_id":mascotas[i]._id,
                        "distancia":distanciaKm
                    };
                    
                    distancias[i]=mascota;
                }

                //console.log(distancias);
                
                var ordenado = false;
                var movimiento;
                var value;
                do{
                    movimiento = false;
                    
                    for(i=0;i<distancias.length-1;i++){
                        value=distancias[i];
                        if(distancias[i].distancia>distancias[i+1].distancia){
                            distancias[i]=distancias[i+1];
                            distancias[i+1]=value;
                            movimiento=true;
                        }
                    }
                    if(!movimiento){
                        ordenado=true;
                    }
                }while(!ordenado);
                //console.log("aqui");
                //console.log(distancias);
                //document.write("<p>Ciudades mas cercanas a cork</p>");
                console.log("hola");
                var animalesOrdenados=JSON.stringify(distancias);
                sessionStorage.setItem("animalesOrdenados", animalesOrdenados);
                arrayOrdenado=true;
                sessionStorage.setItem("ordenado", arrayOrdenado);
                //console.log(distancias);
                
            }
            

            ////////////////////////////////////////////////////////////
            var mascotas;
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                url: 'http://localhost:88/baseDatos/buscarDatos',						
                success: function(response) {
                    mascotas = response;
                    console.log("HOLA HOLITA VECINITOS: "+mascotas[0].lat);
                    //console.log(response);
                    mascotas=JSON.stringify(mascotas);
                    sessionStorage.setItem("mascotas", mascotas);
                }
            });

            var x = document.getElementById("location");

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                var url = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${position.coords.latitude},${position.coords.longitude}&key=AIzaSyA88ZZI6IIhaXxQ0YrQHvRsInn7SGnQVbE`;
                var latitud = position.coords.latitude;
                var longitud= position.coords.longitude;
                sessionStorage.setItem("latitud", latitud);
                sessionStorage.setItem("longitud", longitud);
                ordenar();
                $.post(url, function () {
                })
                    .done(function () {
                        $('#location').text('esperando...');
                    })
                    .always(function (data) {
                        var data = data.results[0].address_components[1].long_name;
                        //console.log(data)
                        $('#location').html(`<p class="text-center"> <i class="fas fa-map-marker-alt fa-fw"></i> <div> ${data}</div></p>`);
                    });
            }
            
            function pasarValores(){
                var animales = document.getElementById
                for(i=0;i<distancias.length;i++){
                    var string = 
                    '<div class="post col-md-6">'+
                        '<div class="post-child post-left" style="text-align:left">'+
                            '<img src="'+distancias[i].url+'" title="This is a placeholder image">'+
                        '</div>'+
                        '<div class="post-child post-right">'+
                            '<h1>'+distancias[i].nombre+'</h1><hr>'+
                            '<div>Edad:'+distancias[i].edad+'</div>'+
                            '<div>Tamaño del perro: Grande</div>'+
                            '<div id="fecha">Fecha del post:'+
                                '<span>'+distancias[i].date+'</span>'+
                            '</div>'+
                            '<a class="btn-circle">&#x21e2;</a>'+
                        '</div>'+
                    '</div>';
                    document.getElementById("main")=string;
                }
            }
        </script>

</html>