<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
    <% include ./layouts/imports %>

        <body>
            <% include ./layouts/menuLateral %>
                <!--Main Content Start -->
                <section class="content">
                    <!-- Page Content Start -->
                    <!-- ================== -->
                    <% if(typeof(user) != 'undefined'){%>
                        <% var usuario = user %>
<<<<<<< HEAD
                    <%}%>
                    <% include ./layouts/topNav %>
                        <div class="wraper container-fluid">
                            <div class="page-title">
                                <h3 class="title">Adoptap</h3>
                                <span id="actu"></span>
                            </div>
                            <!-- ¡Aqui ponemos el contenido de la pagina! -->
                            <!-- Row start -->
                            <div id="main" class="row">
                                <% mascotas.forEach(function(mascota){ %>
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                    <span id="demo"></span>
                                                <h3 class="panel-title">
                                                    <%- mascota.nombre %>
                                                </h3>
                                            </div>
                                            <div class="btn btn-primary" onclick="getLocation()">Conocer tu ubicación</div>
                                            <div class="panel-body">
                                                <script>
                                                    var x = document.getElementById("demo");

                                                    function getLocation() {
                                                        if (navigator.geolocation) {
                                                            navigator.geolocation.getCurrentPosition(showPosition);
                                                        } else {
                                                            x.innerHTML = "Geolocation is not supported by this browser.";
                                                        }
                                                    }

                                                    function showPosition(position) {
                                                        var url = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${position.coords.latitude},${position.coords.longitude}&key=AIzaSyA88ZZI6IIhaXxQ0YrQHvRsInn7SGnQVbE`;
                                                        $.post(url, function (data) {
                                                            var data = data.results[0].address_components[1].long_name;
                                                            console.log(data)
                                                            x.innerHTML = 'Tu ubicacion es '+data;
                                                        });
                                                        
                                                    }
                                                </script>

                                                <img src="<%- mascota.url %>" alt="" width="400" height="400" srcset="" style="border-radius: 10px;">
                                                <p>Información:
                                                    <%- mascota.info %>
                                                </p>
                                                <p>Edad:
                                                    <%- mascota.edad %>
                                                </p>
                                                <p>Fecha del post:
                                                    <%- mascota.date %>
                                                </p>

                                            </div>
=======
                            <%}%>
                                <% include ./layouts/topNav %>
                                    <div class="wraper container-fluid">
                                        <div class="page-title">
                                            <h3 class="title">Adoptap</h3>
                                            <div id="actu"></div>

                                        </div>
                                        <!-- ¡Aqui ponemos el contenido de la pagina! -->
                                        <!-- Row start -->
                                        <div id="main" class="row">
                                            <% mascotas.forEach(function(mascota){ %>
                                                <div class="post col-md-6">
                                                    <div class="post-child post-left" style="text-align:left">
                                                        <img src="<%- mascota.url %>" title="This is a placeholder image">
                                                    </div>
                                                    <div class="post-child post-right">
                                                        <h1>
                                                            <%- mascota.nombre %>
                                                        </h1>
                                                        <hr>
                                                        <!-- <div class="datos">
                                                            <span class=""> Información</span>
                                                            <span class="data">
                                                                <%- mascota.info %>
                                                            </span>
                                                        </div> -->
                                                        <div>Edad:
                                                            <%- mascota.edad %>
                                                        </div>
                                                        <div>Tamaño del perro:
                                                            Grande
                                                        </div>
                                                        <div id="fecha">Fecha del post:
                                                          <span><%- mascota.date%></span>
                                                        </div>
                                                        <!-- <div>ID persona:
                                                            <%- mascota.idUser %>
                                                        </div> -->
                                                        <a class="btn-circle">&#x21e2;</a>
                                                    </div>
                                                </div>
                                                <% }); %>
>>>>>>> 89697c414f16ce5ac75a2e1e805e3d53e50c6af5
                                        </div>
                                        <!-- End of Row -->

                                    </div>
                                    <!-- End row -->

                                    </div>
                                    <!-- Page Content Ends -->
                                    <!-- ================== -->
                                    </div>
                                    <!-- Footer Start -->
                                    <footer class="footer">
                                        2015 © Velonic.
                                    </footer>
                                    <!-- Footer Ends -->



                </section>
                <!-- Main Content Ends -->
                <% include ./layouts/scripts %>
        </body>
        <script>
            var x = document.getElementById("location");

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                var url = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${position.coords.latitude},${position.coords.longitude}&key=AIzaSyA88ZZI6IIhaXxQ0YrQHvRsInn7SGnQVbE`;
                $.post(url, function () {
                })
                    .done(function () {
                        $('#location').text('esperando...');
                    })
                    .always(function (data) {
                        var data = data.results[0].address_components[1].long_name;
                        console.log(data)
                        $('#location').html(`<p class="text-center"> <i class="fas fa-map-marker-alt fa-fw"></i> <div> ${data}</div></p>`);
                    });
            }
        </script>

</html>