<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
    <% include ./layouts/imports %>

        <body>
            <% include ./layouts/menuLateral %>
                <!--Main Content Start -->
                <section class="content">
                    <!-- Page Content Start -->
                    <!-- ================== -->
                    <% if(typeof(user) != 'undefined'){%>
                        <% var usuario = user %>
                            <%}%>
                                <% include ./layouts/topNav %>
                                    <div class="wraper container-fluid">
                                        <div class="page-title">
                                            <h3 class="title">Adoptap</h3>
                                            <span id="actu"></span>

                                            </div>                                       
                                        <!-- ¡Aqui ponemos el contenido de la pagina! -->
                                        <!-- Row start -->
                                        <div id="main" class="row">
                                            <% mascotas.forEach(function(mascota){ %>
                                                <div class="post col-md-6">
                                                    <div class="post-child post-left">
                                                        <img src="<%- mascota.url %>" title="This is a placeholder image">
                                                    </div>
                                                    <div class="post-child post-right">
                                                        <h1>
                                                            <%- mascota.nombre %>
                                                        </h1>
                                                        <hr>
                                                        <p>Información:
                                                            <%- mascota.info %>
                                                        </p>
                                                        <p>Edad:
                                                            <%- mascota.edad %>
                                                        </p>
                                                        <p>Fecha del post:
                                                            <%- mascota.date %>
                                                        </p>
                                                        <p>ID persona:
                                                            <%- mascota.idUser %>
                                                        </p>
                                                        <a class="btn-circle">&#x21e2;</a>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        </div>
                                        <!-- End of Row -->

                                        </div>
                                        <!-- End row -->

                                        </div>
                                        <!-- Page Content Ends -->
                                        <!-- ================== -->
                                    </div>
                                        <!-- Footer Start -->
                                        <footer class="footer">
                                            2015 © Velonic.
                                        </footer>
                                        <!-- Footer Ends -->



                </section>
                <!-- Main Content Ends -->
                <% include ./layouts/scripts %>
        </body>
        <script>
                var x = document.getElementById("location");

                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                }

                function showPosition(position) {
                    var url = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${position.coords.latitude},${position.coords.longitude}&key=AIzaSyA88ZZI6IIhaXxQ0YrQHvRsInn7SGnQVbE`;
                    $.post(url, function () {
                    })
                        .done(function () {
                            $('#location').text('esperando...');
                        })
                        .always(function (data) {
                            var data = data.results[0].address_components[1].long_name;
                            console.log(data)
                            $('#location').html(`<p class="text-center"> <i class="fas fa-map-marker-alt fa-fw"></i> <span> ${data}</span></p>`);
                        });
                }
            </script>
</html>