<!DOCTYPE html>
<html lang="en">
<% include ./layouts/head %>
    <% include ./layouts/imports %>

        <body>
            <% include ./layouts/menuLateral %>
                <!--Main Content Start -->
                <section class="content">
                    <!-- Page Content Start -->
                    <!-- ================== -->
                    <% include ./layouts/topNav %>
                        <div class="wraper container-fluid">
                            <!-- ¡Aqui ponemos el contenido de la pagina! -->
            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bg-picture" style="background-color: rgb(231, 231, 231)">
                            <!-- overlay -->
                          <!-- meta -->
                          <div class="box-layout meta top">
                                <iframe
                                width="100%"
                                height="300"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBeFuRjFIYS-P6DKiIbv9snsFitAvQAPGI
                                    &q=<%- mascota.lat %>,<%- mascota.long %>" allowfullscreen>
                            </iframe>

                            </div>
                            <div class="box-layout meta bottom">
                            <div class="col-sm-6 clearfix">
                              <span class="img-wrapper pull-left m-r-15"><img src="<%- mascota.url %>" title="<%- mascota.nombre %>">
                              </span>
                              <div class="media-body">
                                <h2 class="text-black mb-2 m-t-10 ellipsis"><%- mascota.nombre %></h3>
                                <h3 class="text-black"><a href="usuarios/<%- mascota.dueño %>" <%- mascotausuario.nombre %></h5>
                              </div>
                            </div>
                            <div class="col-sm-6">

                              <div class="pull-right">
                                <div class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle btn btn-primary" href="#"> Siguiendo <span class="caret"></span></a>
                                    
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Enviar MP</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Unfollow</a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--/ meta -->
                        </div>
                    </div>
                </div>

                <div class="row m-t-30">
                    <div class="col-sm-12">
                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0"> 
                                <ul class="nav nav-tabs profile-tabs">
                                    <li class="active"><a data-toggle="tab" href="#aboutme">Sobre mi</a></li>
                                    <li class=""><a data-toggle="tab" href="#user-activities">Actividades recientes</a></li>
                                </ul>

                                <div class="tab-content m-0"> 

                                    <div id="aboutme" class="tab-pane active">
                                    <div class="profile-desk">
                                        <h1><%- mascota.nombre %></h1>
                                        <span class="designation"><%- mascota.raza %></span>
                                        <p>
                                            Hola soy un precioso animalito el cual podrias adoptar, ¿Me quieres?
                                        </p>

                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="3"><h3>Informacion sobre nuestro amigo:</h3></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><b>Dueño:</b></td>
                                                    <td>
                                                    <a href="/usuarios/<%- mascotausuario._id %>" class="ng-binding">
                                                        <%- mascotausuario.nombre %>  <%- mascotausuario.apellido %>
                                                    </a></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Fecha de alta:</b></td>
                                                    <td>
                                                    <a href="" class="ng-binding">
                                                        <%- mascota.date %>
                                                    </a></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Phone</b></td>
                                                    <td class="ng-binding">(123)-456-7890</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Skype</b></td>
                                                    <td>
                                                    <a href="" class="ng-binding">
                                                        jonathandeo123
                                                    </a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> <!-- end profile-desk -->
                                </div> <!-- about-me -->


                                <!-- Activities -->
                                <div id="user-activities" class="tab-pane">
                                    <div class="timeline-2">
                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">5 minutes ago</div>
                                                <p><strong><a href="#" class="text-info">John Doe</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong></p>
                                            </div>
                                        </div>

                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">30 minutes ago</div>
                                                <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                            </div>
                                        </div>

                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">59 minutes ago</div>
                                                <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                            </div>
                                        </div>

                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">5 minutes ago</div>
                                                <p><strong><a href="#" class="text-info">John Doe</a></strong>Uploaded 2 new photos</p>
                                            </div>
                                        </div>

                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">30 minutes ago</div>
                                                <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                            </div>
                                        </div>

                                        <div class="time-item">
                                            <div class="item-info">
                                                <div class="text-muted">59 minutes ago</div>
                                                <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
             
                        </div> 
                    </div>
                </div>
            </div>

            

            


        </div>



                        <!-- Page Content Ends -->
                        <!-- ================== -->

                        <!-- Footer Start -->
                        <footer class="footer">
                            2015 © Velonic.
                        </footer>
                        <!-- Footer Ends -->



                </section>
                <!-- Main Content Ends -->

                <!--form validation-->
                <script type="text/javascript" src="assets/jquery.validate/jquery.validate.min.js"></script>

                <!--form validation init-->
                <script src="assets/jquery.validate/form-validation-init.js"></script>

                <% include ./layouts/scripts %>
        </body>

</html>